<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<h1>Create a Person:</h1>

<form th:action="@{/addPerson}"
      th:object="${personForm}" method="POST">
    First Name:
    <input type="text" th:field="*{firstName}"/>
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}"/>
    <br/>
    <input type="submit" value="Create" class="btn btn-primary"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     class="alert alert-primary" role="alert">

</div>

</body>
</html>