<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<h1>Person List</h1>
<a href="addPerson">Add Person</a>
<br/><br/>
<form th:action="@{/deletePerson}"
      th:object="${personListForm}" method="POST">
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Delete?</th>
        </tr>
        <tr th:each="person, itemStat : *{persons}">
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.lastName}">...</td>
            <td><input type="checkbox" th:field="*{persons[__${itemStat.index}__].deletePerson}"/>
                <input type="hidden" th:field="*{persons[__${itemStat.index}__].id}"/></td>
        </tr>
    </table>
    <input type="submit" id="submitButton" th:value="Save">
</form>
</body>
</html>