<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Swapi search</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Swapi search</span>
</nav>
<form th:action="@{/search}" class="container"
      th:object="${searchForm}" method="POST">
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" id="searchInput" th:field="*{searchInput}" class="form-control" placeholder="Search"
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="submitButton" th:value="Search">Search
                </button>
            </div>
        </div>
    </div>
    <th:block th:if="*{results.length != 0}">
        <div class="row">
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Climate</th>
                    <th>Diameter</th>
                    <th>Gravity</th>
                    <th>Orbital period</th>
                    <th>Population</th>
                    <th>Rotation period</th>
                    <th>Surface water</th>
                    <th>Terrain</th>
                </tr>
                <tr th:each="planet, itemStat : *{results}">
                    <td th:utext="${planet.name}">...</td>
                    <td th:utext="${planet.climate}">...</td>
                    <td th:utext="${planet.diameter}">...</td>
                    <td th:utext="${planet.gravity}">...</td>
                    <td th:utext="${planet.orbital_period}">...</td>
                    <td th:utext="${planet.population}">...</td>
                    <td th:utext="${planet.rotation_period}">...</td>
                    <td th:utext="${planet.surface_water}">...</td>
                    <td th:utext="${planet.terrain}">...</td>
                </tr>
            </table>
        </div>
    </th:block>
</form>
</body>
</html>