<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Swapi search</title>
</head>
<body>
<h1>Swapi search</h1>
<br/><br/>
<form th:action="@{/search}"
      th:object="${searchForm}" method="POST">
    <input type="text" id="searchInput" th:field="*{searchInput}">
    <input type="submit" id="submitButton" th:value="Search">
    <th:block th:if="*{results.length != 0}">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Climate</th>
                <th>Diameter</th>
                <th>Gravity</th>
                <th>Orbital period</th>
                <th>Population</th>
                <th>Rotation period</th>
                <th>Surface water</th>
                <th>Terrain</th>
            </tr>
            <tr th:each="planet, itemStat : *{results}">
                <td th:utext="${planet.name}">...</td>
                <td th:utext="${planet.climate}">...</td>
                <td th:utext="${planet.diameter}">...</td>
                <td th:utext="${planet.gravity}">...</td>
                <td th:utext="${planet.orbital_period}">...</td>
                <td th:utext="${planet.population}">...</td>
                <td th:utext="${planet.rotation_period}">...</td>
                <td th:utext="${planet.surface_water}">...</td>
                <td th:utext="${planet.terrain}">...</td>
            </tr>
        </table>
    </th:block>
</form>
</body>
</html>